APP_NAME=StockflowPaymentMock
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8081

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

SESSION_DRIVER=file
SESSION_LIFETIME=120

PAYMENT_MOCK_SERVICE_NAME=stockflow-payment-mock
PAYMENT_MOCK_HTTP_PORT=8081
PAYMENT_MOCK_DEBUG_ENABLED=true
PAYMENT_MOCK_PROCESSING_DELAY_MS=2000
PAYMENT_MOCK_ALLOW_TEST_PAN_TOKENIZATION=false

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=stockflow
RABBITMQ_PASSWORD=stockflow
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=stockflow.payment
RABBITMQ_DLX=stockflow.payment.dlx
RABBITMQ_REQUESTS_QUEUE=stockflow.payment.requests
RABBITMQ_RETRY_QUEUE=stockflow.payment.requests.retry
RABBITMQ_DLQ=stockflow.payment.requests.dlq
RABBITMQ_SETUP_TOPOLOGY=true
PAYMENT_MOCK_PUBLISH_EVENTS=true
RABBITMQ_MAX_RETRY_ATTEMPTS=3
RABBITMQ_RETRY_DELAY_MS=5000
